engine-strict=true
prefer-workspace-packages=true
prefer-offline=true
ignore-scripts=true
save-exact=true
optional=false
audit=true
fund=false
package-lock=true
strict-ssl=true
loglevel=error
access=private
provenance=true
